@use 'sass:math';

.blog {
  h1 {
    font-size: calc(10px + 2vmin);
  }
}

.posts {
  grid-template-columns: 2;
  .post {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #eee;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);
    width: 100%;
    height: 180px;
  }
}
